* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

body {
    background-color: #000;
}

#content {
    display: block;
    width: 480px;
    height: 100vh;
    margin: auto;
    background-color: #202020;
}

#container {
    width: 100%;
    height: calc(100vh - 140px);
    overflow-y: scroll;
    scrollbar-width: none;
    /* padding: 100px 0px 130px 0px; */
}

#menu {
    display: block;
    position: fixed;
    top: 0px;
    width: 480px;
    height: 70px;
    margin: auto;
    background-color: #404040;
}

#menuspace {
    width: 100%;
    height: 70px;
}

#containerspace {
    width: 100%;
    height: 30px;
}

#menu, #addmore {
    box-shadow: 0px 0px 50px 0px #000;
}

#addmore {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 480px;
    height: 70px;
    margin: auto;
    background-color: #404040;
}

#menu h1 {
    display: block;
    float: left;
    color: #fff;
    width: 340px;
    text-align: center;
    font-size: 30px;
    line-height: 64px;
}

.counter {
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    clear: both;
}

.count {
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.countername, .counternumber {
    text-align: center;
    color: #fff;
}

.countername {
    font-size: 24px;
    line-height: 30px;
}

.counternumber {
    font-size: 30px;
    line-height: 40px;
}

.button, #addnewcounter, #menubutton {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #404040;
}

.button:hover, #addnewcounter:hover, #menubutton:hover {
    background-color: #606060;
}

#menubutton {
    background-image: url(img/menu-4-32.png);
    background-repeat: no-repeat;
    background-position: center;
}

#addnewcounter, .plus {
    background-image: url(img/plus-2-32.png);
    background-repeat: no-repeat;
    background-position: center;
}

.minus {
    background-image: url(img/minus-2-32.png);
    background-repeat: no-repeat;
    background-position: center;
}

.delete {
    background-image: url(img/multiply-3-32.png);
    background-repeat: no-repeat;
    background-position: center;
}

.reset {
    background-image: url(img/sinchronize-40.png);
    background-repeat: no-repeat;
    background-position: center;
}

#addnewcounter, #menubutton {
    float: left;
}

#newcountername {
    display: block;
    float: left;
    width: 360px;
    height: 50px;
    margin: 10px;
    font-size: 24px;
    text-align: center;
}

.delete, .reset {
    float: left;
}

.minus, .plus {
    float: right;
}